// Font style
$f-ultra: 'Gotham-Ultra', sans-serif;
$f-bold: 'Gotham-Bold', sans-serif;
$f-bold-italic: 'Gotham-BoldI', sans-serif;
$f-book: 'Gotham-Book', sans-serif;
$f-book-italic: 'Gotham-BookI', sans-serif;

// Font size
$fs-64: 64px;
$fs-40: 40px;
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-20: 20px;
$fs-16: 16px;

// Color
$black-light-1: #1A1A1A;
$black-light-2: #2A2A2A;
$black-light-3: #5C5C5C;
$black-light-4: #828282;

$red-1: #C40000;
$red-2: #E74C3C;
$red-black: #270000;

$white: #FFFFFF;
$empty: #00000000;

$black: #000;
$black_40: rgba($black, 0.4);