@import "../../../../../../../core/scss/vars";

.item {
  border-radius: 30px;
  background-color: $black-light-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 340px;
  transition: all .15s;

  &:hover {
    background-color: $white;

    .title {
      color: $black !important;
    }
  }

  .image {
    border-radius: 30px;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .title {
    text-align: center;
    margin-top: 10px;
    transition: all .15s;
  }

  .description {
    margin-top: 5px;
    text-align: center;
    color: $black-light-4;
    transition: all .15s;
  }
}